/* seletor{
    propriedade: valor;
} */


/*seletor{
    propriedade: valor;
}

seletor{
    propriedade: valor;
}

seletor{
    propriedade: valor;
}

seletor{
    propriedade: valor;
}

seletor{
    propriedade: valor;
} */

/* p{
    color: teal;    
} */

p{
    color: teal;
}

.time-azul{
    color: black;
}

.titulo1{
    color: brown;
}

