/* seletor{
    propriedade: valor;
} */


/*seletor{
    propriedade: valor;
}

seletor{
    propriedade: valor;
}

seletor{
    propriedade: valor;
}

seletor{
    propriedade: valor;
}

seletor{
    propriedade: valor;
} */

p{
    color: teal;    
}